services:
  postgres:
    image: postgres:16-alpine
    container_name: asiawire_postgres
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - appnet

  strapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: asiawire_strapi
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      # kalau upload lokal Strapi
      - public_uploads:/app/public/uploads
    restart: unless-stopped
    networks:
      - appnet

networks:
  appnet:

volumes:
  pgdata:
  public_uploads:
